<head>
    <link rel="stylesheet" href="~/Content/fullcalendar.css" />
    <link rel="stylesheet" href="~/Content/fullcalendar.print.css" media="print"/>

    <link rel="stylesheet" href="~/Content/toastr.css"/>
    <script type="text/javascript" src="/Scripts/toastr.js"></script>

    <script type="text/javascript" src="/scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/scripts/moment.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/scripts/datejs.js"></script>

    

    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/fullcalendar/fullcalendar.min.js"></script>
</head>

@using System.Data.Entity.Core.Common.EntitySql
@using ACEDrivingSchool.Models
@model ACEDrivingSchool.ViewModels.BookALessonViewModel
@{
    ViewBag.Title = "Book a lesson";
}

<h2>@ViewBag.Title</h2>
<h3>Your instructors Timetable</h3>



<div id="calendar"></div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>

            <div class="modal-body">
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


    <div id="myModalSave" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Book a lesson</h4>
                </div>

                <div class="modal-body">

                    <form class="form-horizontal">
                        <input type="hidden" id="hdLessonId" value="0"/>
                        <input type="hidden" id="hdLessonPaid" value="false"/>


                        <div class="form-group">
                            <label>Date/Time of Lesson</label>
                            <div class="input-group date" id="datePicker">
                                @Html.TextBoxFor(m => m.Lesson.DateTimeOfLesson, new {@class = "form-control", id="txtDate"})
                                <script type="text/javascript">
                                    

                                    $(function () {
                                        $('#txtDate').datetimepicker({
                                            format: "DD/MM/YYYY HH:mm A",
                                            stepping: 30,
                                            minDate: new Date()

                                    });
                                    });
                                </script>
                            </div>
                            
                        </div>

                        <div class="form-group">
                            <label>Duration</label>
                            @Html.DropDownListFor(m => m.Lesson.DurationId, new SelectList(Model.Durations, "Id", "DurationOfLesson"), "Select Duration", new {@class = "form-control", id = "ddDuration"})

                        </div>

                        

                    </form>

                </div>
                <div class="modal-footer">

                    <button type="button" id="btnSave" class="btn btn-success" >Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

                </div>

            </div>
        </div>
    </div>



@section scripts
{


    <script>
        $(document).ready(function() {


            var lessons = [];
            var selectedEvent = null;

            fetchLessonsAndRenderCalendar();

            function fetchLessonsAndRenderCalendar() {
                console.log(lessons);
                $.ajax({
                        type: "GET",
                        url: '/booking/GetLessonsByInstructorId'
                    }).done(function(data) {
                        $.each(data,
                            function(i, v) {

                                var durationString = "";
                                if (v.DurationId == 1) {
                                    durationString = "1 Hour";
                                } else {
                                    durationString = "2 Hours";
                                }

                                lessons.push({
                                    lessonId: v.Id,
                                    title: 'Lesson',
                                    description: moment(v.DateTimeOfLesson),
                                    start: moment(v.DateTimeOfLesson),
                                    duration: durationString,
                                    paid: v.Paid
                                });
                            });

                        generateCalendar(lessons);
                    })
                    .fail(function(error) {
                        toastr.fail("Failed to load lessons");
                    });

            }

            function generateCalendar(lessons) {

                $('#calendar').fullCalendar('destroy');

                $('#calendar').fullCalendar({
                    contentHeight: 400,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev, next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    events: lessons,
                    eventClick: function(calEvent, jsEvent, view) {
                        selectedEvent = calEvent;
                        $('#myModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>')
                            .html('<b>Date/Time: <b/>' + calEvent.start.format("DD MMM hh:mm a")));
                        $description.append($('<p/>').html('<b>Duration: <b/>' + calEvent.duration));
                        $description.append($('<p/>').html('<b>Paid: <b/>' + calEvent.paid));
                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal();
                    },
                    selectable: true,
                    select: function(start, end) {
                        selectedEvent = {
                            lessonId: 0,
                            title: '',
                            description: '',
                            start: start,
                            duration: '',
                            paid: false
                        }
                        addBooking();
                        $('#calendar').fullCalendar('unselect');
                    }
                });
            }

            $('#btnDelete').click(function() {
                if (selectedEvent != null && confirm('Are you sure you wish to delete this lesson?')) {
                    $.ajax({
                        type: "POST",
                        url: "/booking/DeleteLesson",
                        data: { 'lessonId': selectedEvent.lessonId }
                    }).done(function(data) {
                        if (data.status) {
                            fetchLessonsAndRenderCalendar();
                            $('#myModal').modal('hide');
                            toastr.success("Lesson removed");
                        }
                    }).fail(function() {
                        toastr.fail("Lesson was not removed. An unknown error occured.");
                    });
                }
            });


            function addBooking() {

                $('#myModalSave').modal();
            }


            $('#btnSave').click(function() {
                var timeAvailable = true;


                if ($('#txtDate').val().trim() == "") {
                    toastr.error("A date is required");
                    return;
                }

                if ($('#ddDuration').val().trim() == "") {
                    toastr.error("A duration is required");
                    return;
                }


                lessons.forEach(function(element) {


                    //the date of the new booking
                    var currentDate = $('#txtDate').val();
                    var convertedCurrentDate = Date.parse(currentDate);


                    //duration of new booking
                    var durationFromForm = $('#ddDuration').val();


                    //duration to be added to the current bookings start date
                    var hoursToAdd = 0;
                    if (durationFromForm == "1 Hour") {
                        hoursToAdd = 1;
                    } else {
                        hoursToAdd = 2;
                    }


                    //end date of the current lesson

                    var currentEndDate = moment(convertedCurrentDate);
                    currentEndDate = currentEndDate.add(hoursToAdd, "hours");
                    currentEndDate = currentEndDate.format("DD/MM/YYYY HH:mm A");


                    //start date of the current lesson in lessons
                    var startDate = moment(element.start).format("DD/MM/YYYY HH:mm A");


                    //number of hours to add to start date in the current lesson in lessons
                    var addedHours = element.duration = "1 Hour" ? 1 : 2;

                    //end date of the current lesson in lessons
                    var endDate = moment(element.start);

                    //adds hours to the create the end date of the current lesson
                    endDate.add(addedHours, "hours");

                    //formats the end date
                    endDate = endDate.format("DD/MM/YYYY HH:mm A");


                    //checks that the start date does not fall within a previous lesson
                    if (currentDate >= startDate && currentDate < endDate) {

                        timeAvailable = false;


                    }
                    //checks that a booking will not run over into the next lesson
                    else if (currentDate < startDate && currentEndDate > startDate) {

                        timeAvailable = false;

                    }


                });

                console.log(timeAvailable);

                if (timeAvailable == true) {
                    var data = {
                        Id: $('#hdLessonId').val(),
                        DateTimeOfLesson: $('#txtDate').val(),
                        DurationId: $('#ddDuration').val(),
                        BookingDate: null,
                        CustomerId: null,
                        InstructorId: null,
                        Paid: false
                    }

                    saveLesson(data);
                } else {
                    toastr.error("This time is not available, please select another");
                }


            });

            function saveLesson(data) {
                $.ajax({
                    type: "POST",
                    url: "/booking/SaveLesson",
                    data: data
                }).done(function(data) {
                    if (data.status) {
                        fetchLessonsAndRenderCalendar();
                        $('#myModalSave').modal('hide');
                    }
                    toastr.success("Lesson added");
                    $('#txtDate').val('');
                    $('#ddDuration').val('');
                }).fail(function() {
                    toastr.fail("Lesson was not added. An unknown error occured.");
                });

            }


    });
    </script>

}


)