<head>
    <link rel="stylesheet" href="~/Content/fullcalendar.css" />
    
    
    

    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/fullcalendar/fullcalendar.min.js"></script>

    




</head>

@using System.Data.Entity.Core.Common.EntitySql
@using ACEDrivingSchool.Models
@model ACEDrivingSchool.ViewModels.BookALessonViewModel
@{
    ViewBag.Title = "Book a lesson";
}

<h2>@ViewBag.Title</h2>

<div id="calendar"></div>

<div id="myModel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="model">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>

            <div class="modal-body">
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="model">Close</button>
            </div>

        </div>
    </div>
</div>


@section scripts
{

    <script>
        $(document).ready(function () {


            var lessons = [];

            $.ajax({
                type: "GET",
                url: '/booking/GetLessons',
                success: function(data) {
                    $.each(data,
                        function(i, v) {
                            lessons.push({
                                title: 'Lesson',
                                description: moment(v.DateTimeOfLesson),
                                start: moment(v.DateTimeOfLesson),
                                Duration: v.DurationId = 1 ? '1 Hour' : '2 Hours'
                            });
                        });
                    
                    generateCalendar(lessons);
                },
                error: function(error) {
                    alert('Failed');
                }
            });

            function generateCalendar(lessons) {
                
                $('#calendar').fullCalendar('destroy');

                $('#calendar').fullCalendar({
                    contentHeight: 400,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev, next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    events: lessons,
                    eventClick: function (calEvent, jsEvent, view) {
                        $('#myModel #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Date/Time:<b/>' + calEvent.dateTimeOfLesson.format("DD-MM HH:mm a")));
                        $description.append($('<p/>').html('<b>Duration:<b/>' + calEvent.duration));
                        $description.append($('<p/>').html('<b>Paid:<b/>' + calEvent.paid));
                    }
                });
            }
        });
    </script>

}


