@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align: center">Home Page</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Customer Home</h2>
        <p>
            Navigate to the customer home, where you can book, pay and cancel lessons and edit the details of your account.
        </p>
        <p>@Html.ActionLink("Customer Home", "CustomerHome", "Customer", null, new { @class = "btn btn-primary" }) </p>
    </div>
    <div class="col-md-4">
        <h2>Customer Registration</h2>
        <p>
            Navigate to the customer registration page, where you can register a new customer by inputting your details.
        </p>
        <p>@Html.ActionLink("Customer Registration", "Register", "Account", null, new { @class = "btn btn-primary" }) </p>
    </div>
    <div class="col-md-4">
        <h2>Staff Home</h2>
        <p>
            Navigate to the customer home, the staff only area that allows further management of the website and bookings
        </p>
        <p>@Html.ActionLink("Staff Home", "StaffHome", "Staff", null, new { @class = "btn btn-primary" }) </p>
    </div>
</div>

